@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    transition: 300ms;
    font-family: 'Raleway';
    overflow-x: hidden;
}
body{
    display: grid;
        grid-template-rows: 65px 1fr;
}


header{
    background-color: #3A3D46;
    /* display: flex;
        justify-content: space-between;
        align-items: center; */
    /* padding: 0 10%; */
}
header .container{
    border: white 2px solid;
    max-width: 1200px;
    display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
}
header img{
    border: #FFB800 2px solid;
}
header ul{
    border: #FFB800 2px solid;
    display: flex;
        justify-content: space-evenly;
}
header li{
    /* margin: 0 30px; */
    display: flex;
        justify-content: center;
        align-items: center;
}
header ul li a{
    color: #FFFFFF;
    padding: 8px 10px;
    border-radius: 4px;
    text-transform: uppercase;
}
header ul li a:focus,
header ul li a:hover{
    background-color: #007DFC;
}
header img{
    height: 30px;
}
header label{
    display: none;
    cursor: pointer;
    color: #FFFFFF;
    position: fixed;
        top: 20px;
        right: 25px;
    z-index: 15;
}
header #btn{
    display: none;
}

header #btn:checked ~ ul{
    right: -5vw;
    transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.intro{
    border: solid 2px red;
    background-color: #000000;
    display: grid;
        grid-template-columns: 1fr 1fr;
        /* gap: 20px; */
        align-items: center;
        /* justify-content: space-evenly; */
    color: #FFFFFF;
}
/* .intro .group_1,
.intro img{
    border: white 2px solid;
} */
.intro .group_1{
    width: 463px;
    height: 327px;
    position: relative;
    margin: auto;
    display: flex;
        flex-direction: column;
        align-items: flex-start;
}
.group_1 h1{
    font-size: 65px;
    font-weight: 800;
    color: #FFFFFF;
    text-transform: uppercase;
}
.group_1 h1 span{
    color: #FFB800;
}
.group_1 h3{
    color: #007DFC;
    font-size: 26px;
    font-weight: 800;
    margin-top: 23px;
    text-transform: capitalize;
}
.group_1 hr{
    color: #949494;
    margin: 23px 0 22px;
    width: 100%;
}
.group_1 p{
    font-weight: 400;
    line-height: 20.88px;
    width: 387px;
}
.group_1 a{
    padding: 10px 27px;
    background-color: #FFB800;
    border-radius: 45px;
    margin-top: 23px;
    color: #000000;
}
.intro img{
    min-width: 400px;
    max-width: 600px;
    width: 45%;
    margin: 20px auto;
}

.container{
    /* display: flex;
        flex-direction: column; */
    padding: 0 0 95px;
}
.container h2{
    margin: 82px 10% 50px;
    font-weight: 400;
    font-size: 28px;
    line-height: 36.54px;
    letter-spacing: 1px;
    border-bottom: 1px solid;
    align-self: baseline;
}
.gallery{
    margin: 0 auto;
    max-height: calc((269px*2 + 20px));
    max-width: 100vw;
    padding: 0 20px;
    /* display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 20px; */
}
.gallery img{
    width: 100%;
    max-height: 100%;
}
.gallery img:first-child{
    max-width: 100%;
        grid-row: 1/3;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

@media screen AND (max-width: 985px) {
    header label{
        display: block;
    }
    header label:hover{
        color: #FFB800;
    }
    header ul{
        position: fixed;
            top: 0;
            right: -52vw;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: baseline;
        background-color: rgb(0, 0, 0, 0.9);
        height: 100vh;
        width: 50vw;
    }
    header ul li{
        width: 100%;
    }
    header ul li a{
        width: 100%;
        padding: 20px;
    }
    header ul li a:hover{
        background-color: #FFB800;
        color: #000000;

    }
    .intro{
        grid-template-columns: repeat(1, 1fr);
        border: solid 2px red;
    }
    /* .intro .group_1{} */
}
@media screen AND (max-width: 600px){
    header ul{
        width: 90vw;
        right: -95vw;
    }
}