/* 
roboto
    700
    300
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}
/* h1,h2,p{
    border: solid 2px blue;
} */

h1{
    font-weight: 300;
    margin: 0 51px 0 50px;
    font-size: 14px;
}
h1 ~ p{
    text-transform: uppercase;
    margin: 7px 51px 0 50px;
    font-size: 20px;
    font-weight: 700;
}
h1 ~ p span{
    color: #8F2727;
}
h2{
    text-align: right;
    margin: 12px 51px 0 50px;
    font-size: 16px;
}
p{
    text-align: center;
}
body{
    background-color: #8F2727;
}
.container{
    background-color: white;
    width: 80%;
    height: 100vh;
    margin: 0 auto;
    padding-top: 100px;
}
.card{
    width: 200px;
    height: 300px;
    margin: 38px 50px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}
.card > img{
    border-radius: 15px 15px 0 0;
    margin-bottom: 18px;
}
.card p{
    text-align: left;
    margin-left: 20px;
    font-size: 14px;
}
.card p + p{
    margin-top: 3px;
}
.card img + p{
    font-weight: 700;
    letter-spacing: 0.56px;
}
.card div{
    margin: 10px 0 0 20px;

}
.card div img{
    margin-right: 8px;
}
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #3A3A3A;
    color: white;
    padding: 27px;
    font-weight: 700;
    font-size: 14px;
}
