footer{
    .container{
        
        @include ipad_pro{
            padding: 0 100px;
        }
        .hr{
            height: 1px;
            background-color: $txt_color_primary1;
            margin: 30px 0 40px;
            display: inline-block;
            width: 100%;
        }
    }
    .body{
        border: solid 2px white;
        display: grid;
        grid-template-columns: 1fr;

        @include ipad{
            grid-template-columns: repeat(2, 1fr);
        };

        @include ipad_pro{
            grid-template-columns: repeat(4, 1fr);
        }

        ul{
            border: solid 2px red;
                display: flex;
                flex-direction: column;
            li{
                line-height: 32px;
            }    
            li:first-child{
                color: $txt_color_primary1;
                margin-bottom: 16px;
                text-transform: uppercase;
                letter-spacing: 3px;
            }
        }
        
        .logo{
            text-align: center;
            grid-column: 1/3;
            margin: 25px 0;
            @include ipad{
                margin: 0 0;
                grid-column: 1/3;
                text-align: left;
            };
            @include ipad_pro{
                grid-column: 1/2;
            }
        }
        .menu, .service{
            grid-column: 1/2;
            padding-left: 30%;
            @include ipad{
                grid-column: auto;
            }
            @include ipad_pro{
                padding-left: 0;
            }
        }
        .links{
            // background-color: red;
            grid-column: 1/3;
            margin: 25px 0;
            display: flex;
                justify-content: center;
                align-items: center;
                gap: 8px;
            @include ipad{
                margin: 0 0;
                grid-column: 1/3;
                justify-content: flex-end;
            }
            @include ipad_pro{
                grid-column: 4/5;
                align-items: flex-start;
            }
            span{
                display: flex;
                    justify-content: center;
                    align-items: center;
                background-image: url('../images/Oval.svg');
                background-repeat: no-repeat;
                border-radius: 50px;
                min-height: 48px;
                min-width: 48px;
                // padding: 16px;
            }
        }
        
    }
    .copyright{
        margin-bottom: 25px;
        display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            gap: 25px;
        @include ipad{
            flex-direction: row;
            margin-bottom: 76px;
        }
        // @include ipad_pro{
        //     flex-direction: row;
        // }

        p{
            order: 2;
            @include ipad{
                order: -1;
            }
            @include ipad_pro{
                order: -1;
            }
        }
        
        ul{
            display: flex;
                gap: 48px;
        }
    }
}